# Primeiros Exemplos

In [19]:
print('primeiro programa')
1 \
 + 2
help(print)

primeiro programa
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [21]:
1 + 2 + 3
4 + 5 + 6

15

In [23]:
print(1 + 2 + 3)
print(4 + 5 + 6)

6
15

# Tipos Básicos

In [48]:
print(True)
print(False)
print(1.2 + 1)
print('Aqui eu falo na minha lingua!')
print("Tb funciona com aspas duplas.")
print("Você é " + 3 * "muito " + "legal")
# print(3 + "3") - > ambiguidade
print([1, 2, 3]) #lista
print({"nome": "Pedro", "idade": 22}) #dicionario
print(None)

True
False
2.2
Aqui eu falo na minha lingua!
Tb funciona com aspas duplas.
Você é muito muito muito legal
[1, 2, 3]
{'nome': 'Pedro', 'idade': 22}
None

# Variáveis

In [59]:
a = 10
b = 5.2

print(a + b)

a = "Agora sou uma string!"
print(a)
a
b

# print(a + b)

15.2
Agora sou uma string!

5.2

# Comentários

In [64]:
# Minhas variáveis
salario = 3450.45
despesas = 2456.2

"""
A ideia é calcular o
quanto vai sobrar no
final do mes!
"""

print(salario - despesas)

# print("Fim")
print("Fim de verdade") # comentário aqui também vale!

994.25
Fim de verdade

# Operador Aritméticos

In [79]:
print(2 + 3)
print(4 - 7)
print(2 * 5.3)
print(9.4 / 3)
print(9.4 // 3) # Divisão retornando inteiro
print(2 ** 8) # potencia
print(10 % 3) # resto da divisão

a = 12
b = a
print(a + b)

5
-3
10.6
3.1333333333333333
3.0
256
1
24

In [81]:
# Minhas variáveis
salario = 3450.45
despesas = 2456.2

# Resposta do desagio
percentual_comprometido = despesas / salario * 100
percentual_comprometido

71.18491790925822

# Operadores Relacionais

In [84]:
4 >= 3
1 < 2
3 <= 1
3 != 2
3 == 3
2 == '3'

False

# Operador de Atribuição

In [99]:
a = 3
a = a + 7
print(a)

a += 5
print(a)

a -= 3
print(a)

a *= 2
print(a)

a /= 4
print(a)

a %= 4
print(a)

a **= 8
print(a)

a //= 256
print(a)

10
15
12
24
6.0
2.0
256.0
1.0

# Operadores Lógicos

In [131]:
True or False
7 != 3 and 2 > 3

# Tabela verdade do AND
True and True
True and False
False and True
False and False
True and True and False and True and True

# Tabela verdade do OR
True or True
True or False
False or True
False or False
False or True or False

# Tabela verdade do XOR
True != True
True != False
False != True
False != False

# Operador de Negação (unário)
not True
not False

not 0
not 1
not -1
not not True

# Cuidado!
True & True
True | False
True ^ False

# Um pouco de realidade
saldo = 1000
salario = 4000
despesas = 2967

saldo_positivo = saldo > 0
despesas_controladas = salario - despesas >= 0.2 * salario
meta = saldo_positivo and despesas_controladas
meta

True

In [150]:
# Desafio Operadores Lógicos

# Os Trabalhos
trabalho_terca = False
trabalho_quinta = False

"""
 - Confirmando os 2: TV 50 + Sorvete
 - Confirmando apenas 1: TV 32 + Sorvete
 - Nenhum confirmado: Fica em casa
"""

tv_50 = trabalho_terca and trabalho_quinta
sorvete = trabalho_terca or trabalho_quinta
tv_32 = trabalho_terca != trabalho_quinta
mais_saudavel = not sorvete

print("Tv50={} Tv32={} Sorvete={} Saudável={}"
      .format(tv_50, tv_32, sorvete, mais_saudavel))

# "{1}, {2} = {0}".format(1, False, "resultado")
# "{}, {} = {}".format(1, False, "resultado")

Tv50=False Tv32=False Sorvete=False Saudável=True

# Operadores Unários

In [165]:
a = 3
# a++
a += 1
a
# a--
a -= 1
a
-a # torna negativo
+a

not 0
not 1
not -2
not False
not not True

True

# Operadores Ternários

In [174]:
esta_chuvendo = True
print("Hoje estou com as roupas " + ("secas.", "molhadas.")[esta_chuvendo])

print("Hoje estou com as roupas " + ("molhadas." if esta_chuvendo else "secas."))

Hoje estou com as roupas molhadas.
Hoje estou com as roupas molhadas.

# Mais Operadores

In [186]:
# Operadores de Membro
lista = [1, 2, 3, 'Ana', 'Carla']

2 in lista
'Ana' not in lista

# Operador de identidade
x = 3
y = x
z = 3
x is y
y is z
z is x
x is not z

lista_a = [1, 2, 3]
lista_b = lista_a
lista_c = [1, 2, 3]

lista_a is lista_b
lista_b is lista_c
lista_a is not lista_c

True