# Primeiros Exemplos

In [ ]:
print('primeiro programa')
1 \
 + 2
help(print)

In [ ]:
1 + 2 + 3
4 + 5 + 6

In [ ]:
print(1 + 2 + 3)
print(4 + 5 + 6)

# Tipos Básicos

In [ ]:
print(True)
print(False)
print(1.2 + 1)
print('Aqui eu falo na minha lingua!')
print("Tb funciona com aspas duplas.")
print("Você é " + 3 * "muito " + "legal")
# print(3 + "3") - > ambiguidade
print([1, 2, 3]) #lista
print({"nome": "Pedro", "idade": 22}) #dicionario
print(None)

# Variáveis

In [ ]:
a = 10
b = 5.2

print(a + b)

a = "Agora sou uma string!"
print(a)
a
b

# print(a + b)

# Comentários

In [ ]:
# Minhas variáveis
salario = 3450.45
despesas = 2456.2

"""
A ideia é calcular o
quanto vai sobrar no
final do mes!
"""

print(salario - despesas)

# print("Fim")
print("Fim de verdade") # comentário aqui também vale!

# Operador Aritméticos

In [ ]:
print(2 + 3)
print(4 - 7)
print(2 * 5.3)
print(9.4 / 3)
print(9.4 // 3) # Divisão retornando inteiro
print(2 ** 8) # potencia
print(10 % 3) # resto da divisão

a = 12
b = a
print(a + b)

In [ ]:
# Minhas variáveis
salario = 3450.45
despesas = 2456.2

# Resposta do desagio
percentual_comprometido = despesas / salario * 100
percentual_comprometido

# Operadores Relacionais

In [ ]:
4 >= 3
1 < 2
3 <= 1
3 != 2
3 == 3
2 == '3'

# Operador de Atribuição

In [ ]:
a = 3
a = a + 7
print(a)

a += 5
print(a)

a -= 3
print(a)

a *= 2
print(a)

a /= 4
print(a)

a %= 4
print(a)

a **= 8
print(a)

a //= 256
print(a)

# Operadores Lógicos

In [ ]:
True or False
7 != 3 and 2 > 3

# Tabela verdade do AND
True and True
True and False
False and True
False and False
True and True and False and True and True

# Tabela verdade do OR
True or True
True or False
False or True
False or False
False or True or False

# Tabela verdade do XOR
True != True
True != False
False != True
False != False

# Operador de Negação (unário)
not True
not False

not 0
not 1
not -1
not not True

# Cuidado!
True & True
True | False
True ^ False

# Um pouco de realidade
saldo = 1000
salario = 4000
despesas = 2967

saldo_positivo = saldo > 0
despesas_controladas = salario - despesas >= 0.2 * salario
meta = saldo_positivo and despesas_controladas
meta

In [ ]:
# Desafio Operadores Lógicos

# Os Trabalhos
trabalho_terca = False
trabalho_quinta = False

"""
 - Confirmando os 2: TV 50 + Sorvete
 - Confirmando apenas 1: TV 32 + Sorvete
 - Nenhum confirmado: Fica em casa
"""

tv_50 = trabalho_terca and trabalho_quinta
sorvete = trabalho_terca or trabalho_quinta
tv_32 = trabalho_terca != trabalho_quinta
mais_saudavel = not sorvete

print("Tv50={} Tv32={} Sorvete={} Saudável={}"
      .format(tv_50, tv_32, sorvete, mais_saudavel))

# "{1}, {2} = {0}".format(1, False, "resultado")
# "{}, {} = {}".format(1, False, "resultado")

# Operadores Unários

In [ ]:
a = 3
# a++
a += 1
a
# a--
a -= 1
a
-a # torna negativo
+a

not 0
not 1
not -2
not False
not not True

# Operadores Ternários

In [ ]:
esta_chuvendo = True
print("Hoje estou com as roupas " + ("secas.", "molhadas.")[esta_chuvendo])

print("Hoje estou com as roupas " + ("molhadas." if esta_chuvendo else "secas."))

# Mais Operadores

In [ ]:
# Operadores de Membro
lista = [1, 2, 3, 'Ana', 'Carla']

2 in lista
'Ana' not in lista

# Operador de identidade
x = 3
y = x
z = 3
x is y
y is z
z is x
x is not z

lista_a = [1, 2, 3]
lista_b = lista_a
lista_c = [1, 2, 3]

lista_a is lista_b
lista_b is lista_c
lista_a is not lista_c

# Builtins

In [ ]:
# type()
type(1)
__builtins__.type("Fala Galera!")
__builtins__.print(10 / 3)

# __builtins__.help(dir)

# a = 7
# import math
# dir()
dir(__builtins__)

nome = "João da Silva"
type(nome)
__builtins__.len(nome)
dir()

# Conversão de Tipos

In [ ]:
2 + 3
'2' + '3'
# 2 + '3'
# print(2 + '3')

a = 2
b = '3'
print(type(a))
print(type(b))

print(a + int(b))
print(str(a) + b)

type(str(a))

print(2 + float('3.4'))

# Coerção Automática

In [ ]:
10 / 2
type(10 / 2)
10 / 3
10 // 3
type(10 // 3)
10 // 3.3
type(10 // 3.3)
10 / 2.5
2 + True
2 + False
type(1 + 2)
type(1 + 2.5)

# Tipos Numéricos

In [ ]:
dir(int)
dir(float)

a = 5
b = 2.5
a / b
a + b
a * b

type(a)
type(b)

b.is_integer()
5.0.is_integer()


dir(int)
int.__add__(2, 3)
2 + 3

(-2).__abs__()
abs(-2)

(-3.6).__abs__()
dir(float)
abs(-3.6)

In [ ]:
# 1.1 + 2.2
from decimal import Decimal, getcontext

Decimal(1) / Decimal(7)
getcontext().prec = 4
Decimal(1) / Decimal(7)
Decimal.max(Decimal(1), Decimal(7))
dir(Decimal)

1.1 + 2.2
getcontext().prec = 10
Decimal(1.1) + Decimal(2.2)

# Tipo String

In [ ]:
dir(str)
noke = "Saulo Pedro"
nome
nome[0]
# nome[0] = 'p'
# 'marca d'água'
"Dias D'Avila" == 'Dias D\'Avila'
"Teste \" funciona!"
texto = 'Texto entre apostrófos pode ter "aspas"'
texto

doc = """Texto com múltiplas
... linhas"""
doc

print('Texto com múltiplas\n... linhas')
print(doc)

doc2 = '''Também é possível
... com 3 aspas simples'''
doc2

In [ ]:
nome = "Ana Paula"
nome[0]
nome[6]
nome[-3]
nome[4:]
nome[-5:]
nome[:3]

nome[2:5]

nome[0] + nome[4]

numeros = '1234567890'
numeros
numeros[::]
numeros[::2]
numeros[1::2]
numeros[::-1]
numeros[::-2]

nome[::-1]

In [ ]:
frase = 'Python é uma linguagem excelente'
'py' not in frase
'ing' in frase
len(frase)
frase.lower()
frase.upper()
frase = frase.upper()
frase

frase.split()
frase.split('E')

# dir(str)
# help(str.center)

In [ ]:
a = '123'
b = ' de Oliveira 4'
a + b
a.__add__(b)
str.__add__(a, b)

dir(str)
len(a)
a.__len__()
'1' in a
a.__contains__('1')

# Lista

In [ ]:
lista = []
type(lista)
dir(lista)
# help(list)
len(lista)
lista.append(1)
lista.append(5)
len(lista)

nova_lista = [1, 5, 'Ana', 'Bia']
nova_lista
nova_lista.remove(5) # Removeu o elemento 5
nova_lista
nova_lista.reverse() # Inverteu a lista
nova_lista

In [ ]:
lista = [1, 5, 'Rebeca', 'Guilherme', 3.1415]
lista.index('Guilherme')
# lista.index(42)
lista[2]
1 in lista
'Rebeca' in lista
'Pedro' not in lista
lista[0]
lista[4]
# lista[5]
lista[-1]
lista[-5]

In [ ]:
lista = ['Ana', 'Lia', 'Rui', 'Paulo', 'Dani']
lista[1:3]
lista[1:-1]
lista[1:]
lista[:-1]
lista[:]
lista[::2]
lista[::-1]
del lista[2]
lista
del lista[1:]
lista

# Tupla

In [ ]:
tupla = tuple()
tupla = ()
type(tupla)
dir(tupla)
# help(tuple)
tupla = ('um') #string
type(tupla)
tupla = ('um',) # tupla
type(tupla)
# tupla[0] = 'novo'
cores = ('Verde', 'Amarelo', 'Azul', 'Branco')
cores[0]
cores[-1]
cores[1:]
cores.index('Amarelo')
cores.count('Azul') # amount blues elements
len(cores)

# Dicionário

In [ ]:
pessoa = {"nome": "Prof(a). Ana", "idade": 38, "cursos": ["Inglês", "Portugês"]}
type(pessoa)
dir(dict)
len(pessoa)

pessoa
pessoa["nome"]
pessoa["idade"]
pessoa["cursos"]
pessoa['cursos'][1]
# pessoa["tags"]
pessoa.keys()
pessoa.values()
pessoa.items()
pessoa.get('nome')

pessoa.get('tags', []) # case not exist tags key then return one list

In [ ]:
pessoa = {"nome": "Prof. Alberto", "idade": 43, "cursos": [ "React", "Python" ]}
pessoa["idade"] = 44
pessoa['cursos'].append("Angular")
pessoa
pessoa.pop("idade")

pessoa
pessoa.update({'idade': 40, "Sexo": "M"})
pessoa
del pessoa["cursos"]
pessoa
pessoa.clear() # clear dictionary
pessoa

# Conjunto

In [9]:
a = {1, 2, 3}
type(a)
# a[0]
a = set("cod3r")
print(a)
print('3' in a, 4 not in a)
{1, 2, 3} == {3, 2, 1, 3}

# operadores
c1 = {1, 2}
c2 = {2, 3}
c1.union(c2)
c1.intersection(c2)
c1.update(c2)
c1
c2 <= c1
c1 >= c2

{1, 2, 3 } - {2} # difference between two sets
c1 - c2
c1 -= {2}
c1

{'3', 'c', 'd', 'r', 'o'}
True True

{1, 3}

# Interpolação

In [5]:
from string import Template

nome, idade = 'Ana', 30

# old - %.2f float number or %f
print("Nome: %s Idade: %d %r %r" % (nome, idade, True, False))
print("Nome: {0} Idade: {1}".format(nome, idade)) #python < 3.6
print(f"Nome: {nome} Idade: {idade} {2 ** 8 + 1}") # python >= 3.6

s = Template("Nome: $n Idade: $i")
print(s.substitute(n=nome, i=idade))

Nome: Ana Idade: 30 True False
Nome: Ana Idade: 30
Nome: Ana Idade: 30 257
Nome: Ana Idade: 30